mini-config/mini-config-spring/src/main/resources/META-INF/mini.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://localhost/schema/mini"
            targetNamespace="http://localhost/schema/mini"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            xsi:schemaLocation="http://localhost/schema/mini http://localhost/schema/mini/mini.xsd">



    <xsd:element name="application" type="applicationType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The application config ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>


    <xsd:element name="service" type="serviceType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ Export service config ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>


    <xsd:complexType name="applicationType">

        <xsd:attribute name="id" type="xsd:ID">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a bean. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The application name. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="serviceType">
        <xsd:attribute name="interface">
            <xsd:annotation>
                <xsd:documentation>声明提供者的接口</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ref">
            <xsd:annotation>
                <xsd:documentation>声明提供者的引用方式</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>


    <!--对应AbstractMethodConfig-->
    <xsd:complexType name="abstractMethodType">
        <!--定义相关xsd属性-->
    </xsd:complexType>


    <!--对应AbstractInterfaceConfig-->
    <xsd:complexType name="abstractInterfaceType">
         <xsd:complexContent>
             <xsd:extension base="abstractMethodType">
                 <!--定义相关xsd属性-->
             </xsd:extension>
         </xsd:complexContent>
    </xsd:complexType>

    <!--对应AbstractServiceConfig-->
    <xsd:complexType name="abstractServiceType">
          <xsd:complexContent>
              <xsd:extension base="abstractInterfaceType">
                  <!--定义相关xsd属性-->
                  <xsd:attribute name="delay" type="xsd:string" use="optional" default="0">
                      <xsd:annotation>
                          <xsd:documentation>
                              <![CDATA[ The service export delay millisecond. ]]>
                          </xsd:documentation>
                      </xsd:annotation>
                  </xsd:attribute>
              </xsd:extension>
          </xsd:complexContent>
    </xsd:complexType>



</xsd:schema>